<%= form_with model: @apartment do |form| %>
    <div>
        <%= form.label 'Apartment Name' %><br>
        <%= form.text_field :apartment_name %>
        <% @apartment.errors.full_messages_for(:apartment_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'Location' %><br>
        <%= form.text_field :location %>
        <% @apartment.errors.full_messages_for(:location).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'Description' %><br>
        <%= form.text_field :description %>
        <% @apartment.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'Price' %><br>
        <%= form.text_field :price %>
        <% @apartment.errors.full_messages_for(:price).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'Review' %><br>
        <%= form.text_field :review %>
        <% @apartment.errors.full_messages_for(:review).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'Room Size' %><br>
        <%= form.text_field :room_size %>
        <% @apartment.errors.full_messages_for(:room_size).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'AC' %><br>
        <%= form.check_box :ac, { checked: false }, true, false %>
    </div>
    <div>
        <%= form.label 'TV' %><br>
        <%= form.check_box :tv, { checked: false }, true, false %>
    </div>
    <div>
        <%= form.label 'Wifi' %><br>
        <%= form.check_box :wifi, { checked: true }, true, false %>
    </div>
    <div>
        <%= form.label 'CCTV' %><br>
        <%= form.check_box :cctv, { checked: true }, true, false %>
    </div>
    <div>
        <%= form.label 'House Keeping' %><br>
        <%= form.check_box :house_keeping, { checked: true }, true, false %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
