<%= render 'navbar' %>

<ul>
    <% @apartments.each do |apartment| %>
    <li>
        <%= link_to apartment.apartment_name, apartment %>
    </li>
    <% end %>
</ul>
<br>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form action="/apartments/list" class="form-inline my-2 my-lg-0">

    <%= form_with do |form| %>
    <div>
        <%= form.label 'search' %><br>
        <%= form.text_field :search %>
        <%= form.submit 'Search', method: :get %>
    </div>
    <% end %>

    </form>
  </div>
</nav>

<br>
<br>
<br>

<%= link_to "New Apartment", new_apartment_path %>


<%= paginate @apartments %>
