<%= render 'navbar' %>

<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">

                <div class="text-center">
                    <% if @owner.profile_image.attached? %>
                        <%= image_tag(@owner.profile_image, width: "100px", :class => "rounded-circle") %>
                    <% else %>    
                      <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                    <% end %>  
                </div>

                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white"><%= @owner.name %></span>
                    <h5 class="mt-2 mb-0"><%= @owner.email %></h5>
                    <span>+91 9087625413</span>

                    <div class="px-4 mt-1">
                        <h5 class="pt-3">
                            <%= @apartment.bedrooms.to_s+" BHK "+
                            @apartment.property_type+" In "+
                            @apartment.apartment_name.capitalize+" For Rent In "+
                            @apartment.location.capitalize+" At "+number_to_currency(@apartment.rent, :unit=>'₹').to_s+" Rent" %>
                        </h5>
                        <p class="fonts"><%= @apartment.description %></p>
                    </div>

                    <div class="buttons">

                        <button class="btn btn-outline-primary px-4">Message</button>
                        <button class="btn btn-primary px-4 ms-3">Contact</button>
                    </div>


                </div>




            </div>

        </div>

    </div>

</div>
