<h1>Apartment Name : <%= @apartment.apartment_name %></h1>

<p>Price : <%= @apartment.price %></p>
<p>Location : <%= @apartment.location %></p>
<p>Description : <%= @apartment.description %></p>


<%= link_to "Edit Apartment", edit_apartment_path %>
