<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <%= image_tag 'wizelite.png', :class=>"logo" %>
      </a>
      <% if owner_signed_in? %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "My Apartments", my_apartment_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "New Apartment", new_apartment_path, :class => 'nav-link' %>
        </li>
      </ul>
      <% end %>
    </div>

    <div class="d-flex align-items-center">
      <% if authenticated_user_or_owner?%>
      <%= link_to wishlist_index_path, :class => 'text-reset me-3' do %>
        <i class="fa fa-bookmark"></i>
      <% end %>
      <%= link_to payment_path, :class => 'text-reset me-3' do %>
        <i class="fas fa-coins"></i>
        <span class="badge bg-danger"><%=current_credits.to_i%></span>
      <% end %>
      <% else %>
            <%= link_to 'Owner Login', new_owner_session_path, :class => 'text-reset me-3' %>
            <%= link_to 'Signup', new_user_registration_path, :class => 'text-reset me-3' %>
            <%= link_to 'Login', new_user_session_path, :class => 'text-reset me-3' %>
      <%end%>

      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <% if image_attached? %>
          <%= image_tag profile_image, class: "rounded-circle", height: "30" %>
          <% else %>
          <img
            src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
            class="rounded-circle"
            height="25"
          />
          <% end %>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <% if authenticated_user_or_owner? %>
          <li>
            <%= link_to 'My profile', edit_profile, :class => 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Settings', edit_profile, :class => 'dropdown-item' %>
          </li>
          <li>
          <%= link_to "Logout", destroy_owner_session_path, method: :delete, :class => 'dropdown-item' %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Owner Login', new_owner_session_path, :class => 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Signup', new_user_registration_path, :class => 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Login', new_user_session_path, :class => 'dropdown-item' %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
